name: Acception Tests CI/CD

on:
  push:
    branches:
      - "**"
    tags-ignore:
      - "*.*"
  pull_request:
jobs:
  acc:
    name: Acception Tests
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: ^1.14
        id: go

      - name: Get dependencies
        run: |
          SWAGGER_VERSION=v0.23.0
          mkdir -p $HOME/bin
          curl -Lo $HOME/bin/swagger https://github.com/go-swagger/go-swagger/releases/download/${SWAGGER_VERSION}/swagger_linux_amd64 \
            && chmod +x $HOME/bin/swagger
          echo "::add-path::$HOME/bin"

      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 12.x

      - name: npm install swagger-merger
        run: |
          npm install swagger-merger -g

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: install golangci-lint
        run: |
          curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.27.0

      - name: test provider
        run: |
          make generate

      #- name: setup Docker
      #  uses: docker-practice/actions-setup-docker@master
      #  with:
      #    docker_version: 19.09
      #    docker_channel: stable
      #- name: Test
      #  run: |
      #    set -x
      #    docker version
      #    cat /etc/docker/daemon.json
      #    docker buildx version || true
      #    docker buildx ls || true
      # https://github.com/engineerd/setup-kind
      - uses: engineerd/setup-kind@v0.4.0
        with:
          skipClusterCreation: true

      - name: Starting the Kind Cluster
        run: |
          ./scripts/tst-00-prepare-kind.sh

      - name: Testing
        run: |
          kind export kubeconfig
          kubectl cluster-info
          kubectl get pods -n kube-system
          NODEDNSNAME=$(kubectl get nodes -ojson | jq '.items[0].status.addresses[0].address' -r | sed 's/\./-/g')
          echo "::set-env name=INGRESS_DOMAIN::${NODEDNSNAME}.sslip.io"
          echo "current-context:" $(kubectl config current-context)
          echo "environment-kubeconfig:" ${KUBECONFIG}

      - name: install helm3
        run: |
          curl https://raw.githubusercontent.com/helm/helm/master/scripts/get-helm-3 | bash

      - name: install harbor
        run: |
          ./scripts/tst-01-prepare-harbor.sh ${INGRESS_DOMAIN} "1.4.0"
      #- name: install harbor
      #  run: |
      #    echo "::set-env name=INGRESS_DOMAIN::harbor.${NODEDNSNAME}.sslip.io"

      - name: Starting the Acc
        run: |
          ./scripts/tst-15-execute-go-acc.sh "/api/v2"

      - name: remove the kind cluster
        if: ${{ always() }}
        run: |
          kind delete cluster

#
